// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

form {
  display: flex;
  flex-direction: column;
}

form.reg_form {
  width: 60%;
  margin: auto;
}

.button {
  width: 40%;
  margin: 1em auto;
}

.log {
  display: flex !important;
  align-items: center;
}

#review_comment {
  min-width: 70%;
  min-height: 7em;
}
